* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
}
body{
    padding-top: 2rem;
    background-color: lightslategray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
#titulo {
    font-size: large;
}
table, th{
    padding: 0.2rem;
    color: bisque;
    background-color: darkslategray;
}
td{
    color: black;
    background-color: darkseagreen;
    text-align: center;
    padding: 0.7rem;
}
button, #crear, #detalle{
    padding: 0.2rem;
    background-color: rgb(218, 218, 247);
    border: 0.1rem solid darkgreen;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
}
.producto-info{
    width: 80vw;
    background-color: darkseagreen;
    border: 0.1rem solid darkgreen;
    border-radius: 0.5rem;
    padding: 1rem;
}